[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentelemetry-api = {file = "../opentelemetry-python/opentelemetry-api", editable = true}
opentelemetry-semantic-conventions = {file = "../opentelemetry-python/opentelemetry-semantic-conventions", editable = true}
opentelemetry-sdk = {file = "../opentelemetry-python/opentelemetry-sdk", editable = true}

[dev-packages]
pytest = "*"
ipdb = "*"
pdbpp = "*"

[requires]
python_version = "3.11"
